<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gestion de Usuario y Contratos</title>
        <%-include('../partials/head')%>   
    </head>
    <body>
        <div class="container my-5">
            <h2 class="text-center mb-4 p-3 display-4" style="background-color: #faf9f8; color: #0056b3; border-radius: 0.5rem;">Administración</h2>
            
            <div class="row justify-content-center mb-4">
                
                <div class="col-auto">
                    <a href="/logusr" class="btn btn-primary btn-square">Usuarios</a>
                </div>
                <div class="col-auto">
                    <a href="/logadm" class="btn btn-primary btn-square">Administradores</a>
                </div>
            </div>
            <%-include('../partials/footer')%> 
        </div>
    </body>
</html>
